/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vh;
    height: 100vh;
}


.navbar {
    display: flex;
    justify-content: space-between; /* Distribuisce logo e voci */
    align-items: center; /* Centra verticalmente */
    background-color: #282c34;
    padding: 1rem 2rem;
    color: white;
    width: 100%; /* Fa occupare tutta la larghezza */
    height: 100px;
    font-size: small;
  }
  
  /* Logo a sinistra */
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Menu di navigazione */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  /* Assicura che i link non siano troppo compressi */
  .nav-links li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
  }
  /*cambio colore di sfondo quando il mouse ci passa sopra*/
  .nav-links li:hover {
    background-color: #3a3f47;
  /*sistemo il logo per farlo rientrare nella navbar*/
  }
  .logo img {
    width: 80px; /* Imposta la larghezza */
    height: auto; /* Mantiene le proporzioni corrette */
  }
  

  /*fine Navbar*/

  /*inizio main*/

  .container{
    background-color: yellow;
    height: 100px;
    width: 100px;
  }

  
  